/build/
/debian/.debhelper/generated/
/debian/debhelper-build-stamp
/debian/files
/debian/{{ cookiecutter.pypi_package_name }}/
/debian/{{ cookiecutter.pypi_package_name }}.*.debhelper
/debian/{{ cookiecutter.pypi_package_name }}.substvars
/dist/
/doc/sphinx/autoapi/
/.pc/
/.venv/
*.egg-info
*.log
.pybuild
.pytest_cache
__pycache__
