Source: {{ cookiecutter.package_name }}
# List of sections:
# admin, cli-mono, comm, database, debug, devel, doc, editors, education,
# electronics, embedded, fonts, games, gnome, gnu-r, gnustep, graphics,
# hamradio, haskell, httpd, interpreters, introspection, java, javascript,
# kde, kernel, libdevel, libs, lisp, localization, mail, math, metapackages,
# misc, net, news, ocaml, oldlibs, otherosfs, perl, php, python, ruby,
# rust, science, shells, sound, tasks, tex, text, utils, vcs, video, web,
# x11, xfce, zope
Section:
Priority: optional
Maintainer: {{ cookiecutter.author_full_name }} <{{ cookiecutter.author_email }}>
Build-Depends: debhelper-compat (= 13), dh-python, pybuild-plugin-pyproject, python3-all, python3-myst-parser, python3-poetry-core, python3-sphinx
Standards-Version: 4.5.1
Homepage: https://github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.package_name }}
Vcs-Browser: https://github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.package_name }}
Vcs-Git: https://github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.package_name }}.git
#Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: {{ cookiecutter.package_name }}
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-colorama, python3-fire
Description: {{ cookiecutter.project_description }}
 This package installs the utility and documentation for Python 3.
