/build/
/debian/.debhelper/generated/
/debian/debhelper-build-stamp
/debian/files
/debian/{{ cookiecutter.package_name }}/
/debian/{{ cookiecutter.package_name }}.*.debhelper
/debian/{{ cookiecutter.package_name }}.substvars
/dist/
/.pc/
/.venv/
*.egg-info
*.log
.pybuild
.pytest_cache
__pycache__
