[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
project_root = {editable = true, path = "."}
{%- if cookiecutter.use_fire == "y" %}
colorama = "*"
fire = "*"
{%- endif %}
{%- if cookiecutter.use_pandas == "y" %}
pandas = "*"
{%- endif %}

[dev-packages]
autopep8 = "*"
pylint = "~=2.14"
pytest = "*"
{%- if cookiecutter.use_jupyter == "y" %}
ipykernel = "*"
{%- endif %}

[requires]
python_version = "{{ cookiecutter.python_version }}"

[scripts]
cli = "python {{ cookiecutter.project_slug }}"
linter = "pylint --enable-all-extensions {{ cookiecutter.project_slug }}"
tests = "pytest"
