[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
{{ cookiecutter.project_slug }} = {editable = true, path = "./{{ cookiecutter.project_slug }}"}
{%- if cookiecutter.use_fire == "y" %}
colorama = "*"
fire = "*"
{%- endif %}
{%- if cookiecutter.use_pandas == "y" %}
pandas = "*"
{%- endif %}

[dev-packages]
autopep8 = "*"
pylint = "~=2.7"
pytest = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"

[scripts]
{{ cookiecutter.first_module_name }} = "python {{ cookiecutter.project_slug }}"
linter = "pylint {{ cookiecutter.project_slug }}"
tests = "pytest"
